node_modules
vendor
.git
!.git/HEAD
!.git/refs
.env
database/database.sqlite
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/build
tests
.github
